@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container .slick-prev,
.slider-container .slick-next {
  z-index: 1;
}

.slider-container .slick-prev {
  left: 10px;
}

.slider-container .slick-next {
  right: 10px;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  font-size: 20px;
  opacity: 0.75;
}

.slider-container .slick-dots {
  bottom: 10px;
}

.slider-container .slick-dots li button:before {
  color: white;
  opacity: 0.75;
}

.slider-container .slick-dots li.slick-active button:before {
  opacity: 1;
}

.banner-slider .slick-prev,
.banner-slider .slick-next {
  z-index: 1;
}

.banner-slider .slick-prev {
  left: 20px;
}

.banner-slider .slick-next {
  right: 20px;
}

.banner-slider .slick-prev:before,
.banner-slider .slick-next:before {
  font-size: 30px;
  opacity: 0.75;
}

.banner-slider .slick-dots {
  bottom: 20px;
  z-index: 1;
}

.banner-slider .slick-dots li button:before {
  color: white;
  opacity: 0.75;
  font-size: 12px;
}

.banner-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}

.property-slider .slick-prev,
.property-slider .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.property-slider .slick-prev {
  left: 20px;
}

.property-slider .slick-next {
  right: 20px;
}

.property-slider .slick-prev:before,
.property-slider .slick-next:before {
  font-size: 25px;
  opacity: 0.75;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.property-slider .slick-dots {
  bottom: 20px;
}

.property-slider .slick-dots li button:before {
  color: white;
  opacity: 0.75;
  font-size: 10px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.property-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
